*,
::before,
::after {
    box-sizing: border-box;
}

#page {
  margin-bottom: 50px;
}

.dark-mode {
  background: #444444;
  color: white;
}

.title {
  text-align: center;
}

.game-mode-part {
  display: flex;
  justify-content: space-between;
}

.start-btn {
  background: linear-gradient(to bottom right, #C7E9FF, #A4D4FF);
  border: #A4D4FF;
  border-radius: 2px;
  padding: 5px;
  width: 100px;
}

.dark-mode .start-btn {
  background: linear-gradient(to bottom right, #0000CD, #000080);
  color: white;
}

.start-btn:hover {
  background: linear-gradient(to top left, #C7E9FF, #A4D4FF);
}

.dark-mode .start-btn:hover {
  background: linear-gradient(to top left,#0000CD, #000080);
}

.settings-game-form {
  display: flex;
  flex-direction: column;
}

.settings-label {
  align-self: center;
}

.settings-item {
  display: flex;
  justify-content: space-between;
}

.settings-input,
.switch-color-select {
  border: 1px solid #8bc6f9;
}

.dark-mode .settings-input,
.dark-mode .switch-color-select {
  background: transparent;
  color: white;
}

.settings-btn {
  background: linear-gradient(to bottom right, #C7E9FF, #A4D4FF);
  border: #A4D4FF;
  border-radius: 2px;
}

.dark-mode .settings-btn,
.dark-mode .sound-btn,
.dark-mode .latest-results-btn {
  background: linear-gradient(to bottom right, #0000CD, #000080);
  color: white;
}

.settings-btn:hover {
  background: linear-gradient(to top left, #C7E9FF, #A4D4FF);
}

.dark-mode .settings-btn:hover,
.dark-mode .sound-btn:hover,
.dark-mode .latest-results-btn:hover {
  background: linear-gradient(to top left,#0000CD, #000080);
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.container {
  max-width: 500px;
  padding: 0 10px;
  margin: 0 auto;
}

.board {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  border: 2px solid #76b8f3;
}

.row {
  display: flex;
}

.cell {
  width: 10%;
  max-width: 50px;
  background: radial-gradient(circle at center, #C7E9FF, #A4D4FF);
  aspect-ratio: 1/1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
  transition: box-shadow 0.3s ease;
  border: 1px solid #8bc6f9;
  padding: 0;
}

.dark-mode .cell {
  background: radial-gradient(circle at center, #0000CD, #000080);
}

.cell:hover:not(:disabled){
  background: radial-gradient(circle at center, #A4D4FF, #C7E9FF);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.dark-mode .cell:hover:not(:disabled){
  background: radial-gradient(circle at center, #000080, #0000CD);
}

.opened {
  background: #b4d6f0;
  box-shadow: none;
  border: 1px solid #8bc6f9;
}

.dark-mode .opened {
  background: #0471c4;
  box-shadow: none;
  border: 1px solid #8bc6f9;
}

.opened.mine {
  background-color: pink;
}

.message {
  height: 20px;
  text-align: center;
}

.cell:disabled {
  color: black;
}

.switch-color-label {
  text-align: center;
}

.switch-color-select {
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.sound-btn,
.latest-results-btn {
  margin: 30px auto 30px auto;
  display: block;
  background: linear-gradient(to bottom right, #C7E9FF, #A4D4FF);
  border: #A4D4FF;
  border-radius: 2px;
  padding: 10px;
}

.sound-btn:hover,
.latest-results-btn:hover {
  background: linear-gradient(to top left, #C7E9FF, #A4D4FF);
}

.last-results {
  text-align: center;
}
